version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
      - "8080:80"
      - "8443:443"
    volumes:
      - ./pages:/usr/share/nginx/html
      - ./asset:/usr/share/nginx/html/asset
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./config/cert.pem:/etc/nginx/cert.pem
      - ./config/cert.key:/etc/nginx/cert.key
            
  ngrok:
    image: ngrok/ngrok
    container_name: ngrok
    environment:
      NGROK_AUTHTOKEN: "${NGROK_AUTHTOKEN}"
    command: http --domain=upright-mollusk-discrete.ngrok-free.app 443
    network_mode: "host"
