services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
      - "8080:80"
      - "8443:443"
    volumes:
      - ./frontend/pages:/usr/share/nginx/html
      - ./frontend/asset:/usr/share/nginx/html/asset
      - ./frontend/config/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/config/cert.pem:/etc/nginx/cert.pem
      - ./frontend/config/cert.key:/etc/nginx/cert.key
            
  ngrok:
    image: ngrok/ngrok
    container_name: ngrok
    environment:
      NGROK_AUTHTOKEN: "${NGROK_AUTHTOKEN}"
    command: http --domain=upright-mollusk-discrete.ngrok-free.app 443
    network_mode: "host"

  jest-test:
    build:
      context: .
      dockerfile: Dockerfile
      target: test-env
    command: ["npm", "test"]
    working_dir: /usr/src/app
